<meta charset="UTF-8">
<title><%= title %></title>

<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/mains.css">

<style>
    body { padding-top:50px; }
</style>
